{% extends "base.html" %}
{% block titulo %} Juegos {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Registro Clientes</h3>
            <a href="{{url_for('formulario_agregar_cliente')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Dirección</th>
                        <th>Email</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cli in clientes %}
                    <tr>
                        <td>{{cli[1]}}</td>
                        <td>{{cli[2]}}</td>
                        <td>{{cli[3]}}</td>
                        <td>{{cli[4]}}</td>
                        <td>{{cli[5]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en juego[0] #}
                            <a href="{{url_for('actualizar_cliente_id', id=cli[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_cliente')}}" method="POST">
                                <input type="hidden" name="id" value="{{cli[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}